body {
  font-size: 14px;
}
#root {
  color: $cGrey;
}
.content {
  padding: 96px 8px 40px 8px;
}
.full-window {
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  display: flex;
}
.bg-yellow {
  background-color: $cYellow;
}
.flex {
  display: flex;

  &-column {
    & .MuiContainer-root {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &-between {
    display: flex;
    justify-content: space-between;
  }
}
.button-wrapper {
  display: flex;
  justify-content: center;
  & > button {
    margin: 0 8px 0 8px;
  }
}
.txt-center {
  text-align: center;
}
.archivelist-container {
  padding-left: 8px;
}
.wordcard {
  border: 1px solid $cPaleBlue;
}
.synonyms .each{
  position: relative;

  &:not(:last-child)::before {
    content: '/';
    position: absolute;
    right: -4px;
  }
}
.wordchip-wrapper {
  text-overflow: 'ellipsis';
  overflow: 'hidden';
  white-space: 'nowrap';

  & .wordchip {
    color: $cGrey;

    &:not(:first-child) {
      margin-left: 4px;
    }
  }
}

