body {
  font-size: 14px;

  & #root {
    color: $cGrey;

    & .MuiButton-containedSecondary, .grey-text {
      color: $cGrey;
    }

    & .main-logo {
      color: $cGrey;
      font-family: Pacifico, cursive;
    }
  }
}

.content {
  padding: 96px 8px 40px 8px;
}

.full-window {
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  display: flex;
}

.bg-yellow {
  background-color: $cYellow;
}

.synonyms .each{
  position: relative;

  &:not(:last-child)::before {
    content: '/';
    position: absolute;
    right: -8px;
    padding: 4px;
  }
}

.sweet-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  transition: opacity 0.3s ease;

  &.inactive {
    opacity: 0;
    pointer-events: none;
  }
}
