.MuiButtonBase-root{

  &.MuiButton-root {
    width: 112px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

    &:hover {
      box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    }

    &.save {
      color: $cWhite;
      background-color: $cBlue;
      &:hover {
        background-color: $cDarkBlue;
      }
    }

    &.second {
      color: $cGrey;
      border: solid 1px $cGrey;
    }

    &.edit {
      color: $cGrey;
      background-color: $cYellow;
      &:hover {
        background-color: $cDarkYellow;
      }
    }
  }

  & .MuiButton-label {
    @extend .font-md;
  }
}