.MuiOutlinedInput-root.MuiOutlinedInput-root {
  border-radius: 8px;
}

.diary {
  & .date {
    @extend .font-md;
    padding-bottom: 16px;
  }

  & .title {
    padding-bottom: 20px;

    &-label {
      @extend .font-lg;
    }
  }

  & .word-counter {
    @extend .font-xs;
    text-align: right;
    padding-bottom: 8px;
  }

  & .diary-content {
    padding-bottom: 32px;
  }

  & .button-wrapper {
    display: flex;
    justify-content: center;
  }

  & button {
    margin: 0 16px 0 16px;
  }
}
