@import 'modules/variables';
@import 'modules/spacer';

#root {
  color: $cGrey;
}
.content {
  padding: 16px;
}
.full-window {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.bg-yellow {
  background-color: $cYellow;
}
.flex-column {
  & .MuiContainer-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.button-wrapper {
  display: flex;
  justify-content: center;
  & > button {
    margin: 0 8px 0 8px;
  }
}