@import 'modules/variables';
@import 'modules/spacer';
@import 'modules/archive';
@import 'modules/reset';

.font-xxs {
  font-size: 10px;
}
.font-xs {
  font-size: 12px;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 16px;
}
.font-lg {
  font-size: 24px;
}

#root {
  @extend .font-md;
  color: $cGrey;
}
.content {
  padding: 24px;
}
.full-window {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.bg-yellow {
  background-color: $cYellow;
}
.flex-column {
  & .MuiContainer-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.button-wrapper {
  display: flex;
  justify-content: center;
  & > button {
    margin: 0 8px 0 8px;
  }
}